*{
    padding: 0;
    margin: 0;
}

body,html{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

section{
    margin-top: 50px;
}

.txtCaixa{
    margin: 5px;
    padding: 3px;
    height: 40px;
    width: 300px;
    border-radius: 30px;
}

.btn{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin: 0 0 10px 4%;
    font-size: 16px;
    box-shadow: 0 5px 5px 2px rgba(126, 124, 124, 0.774);
    cursor: pointer;
}
.btn:active{
    font-size: 15px;
    box-shadow: inset 0 -2px 5px 2px rgb(126, 124, 124);
}

.divPesquisar{
    display: flex;
}
#pesquisar{
    padding: 5px;
    margin: 0;
    height: 36px;
    width: 230px;
}
#btnPesquisar{
    margin-left: 2%;
    width: 70px;
    height: 50px;
    border-radius: 30px;
    z-index: 2;
}
#btnPesquisar img{
    width: 35px;
    height: 35px;
}

#cadastrar{
    margin-top: 25px;
}

/* estilo do p */
#dados{
    text-align: center;
}

#limpar{
    display: none;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 45px;
}

.inscritos{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    background-color: rgba(42, 253, 0, 0.541);
    width: 280px;
    height: 100%;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 10px 10px 0;
}
.lixo{
    display: inline;
    padding: 5px;
    width: 35px;
    border: 1px solid black;
    border-right: none;
    border-radius: 10px 0 0 10px;
    background-color: rgba(255, 0, 0, 0.842);
    cursor: pointer;
}